
body {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background: #ffd500;
  }
  
  div {
    border: 8px solid antiquewhite;
    background-color: #005bbb;
    text-align: center;
    color: antiquewhite;
    font-size: 20px;
  }
  
  .projects {
    margin-top: 20px;
    background-color: #005bbb;
    list-style-position: inside;
    text-align: center;
    color: antiquewhite;
    font-size: 20px;
    
  }
  .about {
    margin-top: 20px;
    border: 8px solid antiquewhite;
    background-color: #005bbb;
    text-align: center;
    color: antiquewhite;
    font-size: 20px;
    
  }
  
  
  